<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go Crud </title>
    <meta name="description" content="A Library Web App implemented with Go.">
    <meta name="author" content="Nditah">
    <link rel="icon" href="public/img/favicon.ico" sizes="16x16" type="image/png">

    <!-- Latest compiled and minified CSS -->
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <!--   <link type="text/css" rel="stylesheet" href="./../public/css/bootstrap.min.css">-->
 <style>
 #search-results tr:hover{
     background-color: lightgrey;
     cursor: pointer;
 }
 </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Go Library</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section>

        <div class="container">

            <article>
                <div class="row">
                    <form id='search-form' class="pull-right" onsubmit="return false;">
                        <input name="search" placeholder="Type..." />
                        <button onclick="submitSearch();" >Search</button>
                    </form>
                </div>
                <div class="row">
                    <table class="table table-stripped" width="100%">
                        <thead>
                            <tr style="text-align: left;">
                                <th width="40%">Title</th>
                                <th width="30%">Author</th>
                                <th width="10%">Year</th>
                                <th width="20%">ID</th>
                            </tr>
                        </thead>
                        <tbody id="search-results"></tbody>
                    </table>
                </div>
            </article>

        </div>
    </section>

    <!-- jQuery library 
    <script type="text/Javascript" src="./../public/scripts/jquery.min.js"></script>
    <script type="text/Javascript" src="./../public/scripts/bootstrap.min.js"></script>
-->
    <!-- jQuery library -->
  <script type="text/Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/Javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- Activity Script -->
    <script type="text/Javascript">
        $(document).ready(function () {
            console.log("Script is loaded \r\n")
        });

    
            function submitSearch(){
                $.ajax({
                    url: "/search",
                    method: "POST",
                    data: $("#search-form").serialize(),
                    success: function(rawData) {
                        var parsed = JSON.parse(rawData);
                        if (!parsed) return;

                        var searchResults = $("#search-results")
                        searchResults.empty()

                        parsed.forEach(function(result) {
                            var row = $("<tr><td>" + result.Title + "</td><td>" + result.Author + "</td><td>" +
                                 result.Year + "</td><td>" + result.ID + "</td></tr>");
                            searchResults.append(row);
                            
                            row.on("click", function(){
                                $.ajax({
                                    url: "/books/add?id=" + result.ID,
                                    method: "GET",
                                    success: function(fb) {
                                        console.log(fb)
                                    } 
                                })
                            })
                            
                        })
                    }
                });
                console.log("\r\nSearch button clicked" )
                return false;
            }

  
    </script>

</body>

</html>